<a href='#/'>indietro</a>

<hr>

<div class='row'>
	<div class='col-md-6'>
		<div class='pull-left'>
			<img src='http://placehold.it/80x80' class='img-circle' />
		</div>
		<div class=''>
			<address>
			  <strong class='text-muted'><a href='#/places/{{place.id}}'>{{place.name}}</a></strong><br>
			  {{place.address.street}} <span ng-show='place.address.civic'>, {{place.address.civic}}</span><br>
			  {{place.address.city}}, {{place.address.prov}} {{place.address.cap}}<br>
			  <abbr title="Phone">P:</abbr> {{place.address.phone}}<br>
			</address>
		</div>
	</div>
	<div class='col-md-2 text-center'>
		<h5 class='text-muted'>PRO</h5>
		<span class='badge'>{{pro()}}</span>
	</div>
	<div class='col-md-2 text-center'>
		<h5 class='text-muted'>CONTRO</h5>
		<span class='badge'>{{cons()}}</span>
	</div>
</div>

<div class='row'>
	<div class='col-md-6'>
		<h5>Pro</h5>
		<div class="list-group">
		  <a class="list-group-item" ng-click="toggleVote(pro)" ng-class="{'list-group-item-success' : (pro.length > 0 && !voted(pro)), 'list-group-item-info' : voted(pro)}" ng-repeat="(proid,pro) in place.pros">{{proid}} <span ng-show='pro.length > 0' class='badge'>{{pro.length}}</span></a>
		</div>
	</div>
	<div class='col-md-6'>
		<h5>Contro</h5>
		<div class="list-group">
		  <a class="list-group-item" ng-click="toggleVote(cons)" ng-class="{'list-group-item-danger' : (cons.length > 0 && !voted(cons)),'list-group-item-info':voted(cons)}" ng-repeat="(consid,cons) in place.cons">{{consid}} <span ng-show='cons.length > 0' class='badge'>{{cons.length}}</span></a>
		</div>
	</div>
</div>

